#intro {
	background: linear-gradient(to right, var(--navy) 0%, var(--magenta) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 225%;
}

.intro-html {
  color: var(--light-grey);
  font-size: 150%;
}

#intro span.emoji {
	background: none;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}

#asterisk {
	padding-top: 14rem;
	padding-bottom: 14rem;
	font-size: 75%;
	color: var(--light-grey);
}

@media screen and (min-width: 996px) {
  #intro {
    font-size: 3rem;
  }

  .intro-html {
    font-size: 1.5rem;
  }

	#asterisk {
		font-size: 0.75rem;
		padding-bottom: 0;
	}
}
