#intro {
	background: linear-gradient(to right, rgb(13,71,161,1) 0%, rgba(136,14,79,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.intro-html {
  color: rgba(160,160,160,1);
  font-size: 1.5rem;
}

#intro span.emoji {
	background: none;
	-webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}

main {
  margin: 2rem 2rem;
}

@media (min-width: 600px) {
  #intro {
    font-size: 3rem;
  }

  .intro-html {
    font-size: 2rem;
  }

  main {
    margin: 2rem 3rem;
  }
}
