main {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  text-align: center;
}

main section ul {
  padding-bottom: 2rem;
  justify-content: center;
}

#the-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#the-work > a {
  width: 100%;
  height: 50rem;
  border: 1px white solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#the-work a.sovietski {
  background-image: url("../images/sovietski.jpg");
}

#the-work a.rideshare {
  background-image: url("../images/rideshare.jpg");
}

#the-work a.api-muncher {
  background-image: url("../images/api-muncher.jpg");
}

#the-work a.google {
  background-image: url("../images/google.jpg");
}

#the-work a.patagonia {
  background-image: url("../images/patagonia.jpg");
}

#the-work a.alaska {
  background-image: url("../images/alaska.jpg");
}

#the-work div.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(13,71,161,0.5);
}

#the-work article {
  width: 75%;
}

#the-work h2, #the-work h4 {
  margin: 0;
  text-align: center;
  color: white;
}

#the-work h2 {
  padding-bottom: 1rem;
}

#the-work h4 {
  font-weight: lighter;
  font-style: italic;
  color: #E0E0E0;
}

@media screen and (min-width: 996px) {
  main {
    margin-bottom: 6rem;
  }

  #the-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #the-work > a {
    width: 49.5%;
    height: 25rem;
  }
}
