:root {
  --magenta: #880E4F;
  --light-magenta: #AD1457;
  --dark-grey: #212121;
  --light-grey: #9E9E9E;
  --navy: #01579B;
}

body {
  font-family: Helvetica;
  font-weight: lighter;
  color: var(--dark-grey);
  font-size: 2.5rem;
}

header {
  margin: 4rem 4rem 5rem;
}

a {
  text-decoration: none;
  color: var(--magenta);
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

li {
  margin-right: 2rem;
}

ul li:last-child {
  margin-right: 0;
}

li a {
  text-decoration: none;
  color: var(--light-grey);
}

li a:hover {
  color: var(--magenta);
}


#jackie {
  margin-right: auto;
  font-weight: bold;
}

#jackie a {
  color: var(--dark-grey);
}

main {
  animation: fadein 1.5s;
  margin-left: 4rem;
  margin-right: 4rem;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

footer {
  padding: 4rem;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer a {
  background-color: var(--magenta);
  color: white;
  border: 0;
  padding: 1.75rem;
  border-radius: 3rem;
  float: right;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 100%;
}

footer a:hover {
  box-shadow: 0 2px 6px inset rgba(0,0,0,0.1);
  background-color: var(--light-magenta);
  color: white;
}

@media screen and (min-width: 996px) {
  body {
    font-size: 1rem;
  }

  header {
    margin: 2rem 3rem 3rem;
  }

  main {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  footer {
    padding: 3rem;
  }

  footer a {
    padding: 0.75rem;
    border-radius: 3rem;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  }
}
